<div class="w3-row w3-margin-top meraki-font-5 w3-card-4 w3-white">
  <div class="w3-row w3-pink w3-padding">
    <h4 class="meraki-font-s5">Introducción</h4>
  </div>
  <div class="w3-row w3-padding">
    <p style="text-align: justify;" class="meraki-font-s5">
      <strong>Inventarios</strong> (ms-invent) es un módulo de gestión de extistencias que lo ayudará a organizar y controlar de
      forma eficiente todos sus movimientos. </p>
    <h6>Características:</h6>
    <ul style="text-align: justify;">
      <li class="meraki-font-s5">
        <strong>Almacenes</strong> - Podrá crear los almacenes donde se encuentran físicamente las existencias.</li>
      <li class="meraki-font-s5">
        <strong>Terceros</strong> - Podrá crear y gestionar la información de sus clientes, proveedores e internos.</li>
      <li class="meraki-font-s5">
        <strong>Documentos</strong> - Podrá crear y gestionar cualquier documento que sea necesario para organizar los movimientos
        de existencias (SUNAT e Internos).</li>
      <li class="meraki-font-s5">
        <strong>Grupos de productos</strong> - Podrá crear las categorías de existencias.</li>
      <li class="meraki-font-s5">
        <strong>Productos</strong> - Podrá crear y gestionar productos, asignarles ubicación física por almacen, Stock de arranque,
        alarma y emergencia. </li>
      <li class="meraki-font-s5">
        <strong>Registrar Movimientos</strong> - Podrá realizar los movimientos de una forma ágil e intuitiva , utilizando una interfaz
        potente e inteligente.</li>
    </ul>
    <h6>Reportes:</h6>
    <ul style="text-align: justify;">
      <li class="meraki-font-s5">
        <strong>Kardex</strong> - Podrá generar reportes de kardex de acuerdo al formato SUNAT 13.1.
      </li>
      <li class="meraki-font-s5">
        <strong>Stock</strong> - Podrá generar reportes de almacen, el cual indicará si una existencia se encuentra en alamar o emergencia
        de stock.
      </li>
      <li class="meraki-font-s5">
        <strong>Historial de movimientos</strong> - Podrá el detalle de cada uno de los movimientos generados en el sistema, así como anular documentos.
      </li>
    </ul>
  </div>

</div>
<br>