.container {
  margin-top: 30px;
  box-sizing: border-box;
  width: 90vw;
}

.limit {
  margin-top: 72px;
}

.spacer {
  margin: 0px 0px 0px 8px;
  display: inline-block;
}

mat-list-item {
  margin-top: 10px;
}
