<div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Contáctenos</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="contactenos">
          <mat-card-header>
            <mat-card-title>
              <h2>Meraki Solutions</h2>
              <br/>
            </mat-card-title>
          </mat-card-header>     
          <img defaultImage='./assets/spinner.gif' lazyLoad="./assets/meraki-shield-alpha.png" offset=100>
          <mat-card-content>
              <h3>Contáctenos</h3>
              <br/>
              <p>
                <a><strong>Email: </strong> mpalomino@meraki-s.com</a>
                <br/>
                <a><strong>Número: </strong> 9666772277</a>
              </p>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
</div>