<div class="container-fluid w3-sand">

  <!--div class="row center-xs">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
        <h2 class="meraki-font-s5">Hola, {{ username }}!</h2>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
        <p></p>
    </div>
    
  </div-->

  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
      <div class="row around-xs middle-xs w3-margin-top" style="padding:20px;">
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" routerLink="/inventarios" [disabled]="!perms[0]['Inventarios']">
            <mat-icon>assignment</mat-icon>
          </button>
          <p class="meraki-font-s5">Inventarios</p>
        </div>
        <div class="w3-center" style="width:100px">
          <div class="buttonPOS">
            <button mat-fab class="w3-orange w3-hover-brown" (click)="openMenu()">
              <mat-icon>credit_card</mat-icon>
            </button>
            <p class="meraki-font-s5">POS</p>
            <div class="options">
              <div *ngIf="menu == 'open'" class="historial" @menuInOut>
                <button matTooltip="Historial" class="w3-hover-purple" matTooltipPosition="above" matTooltipClass="tooltip" mat-mini-fab
                  routerLink="/historialVentas">
                  <mat-icon>assignment</mat-icon>
                </button>
              </div>
              <div *ngIf="menu == 'open'" class="pos" @menuInOut>
                <button matTooltip="Ventas" class="w3-hover-purple" matTooltipClass="tooltip" matTooltipPosition="above" mat-mini-fab routerLink="/puntoVenta">
                  <mat-icon>shopping_cart</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" routerLink="/produccion">
            <mat-icon>domain</mat-icon>
          </button>
          <p class="meraki-font-s5">Produccion</p>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Academia']">
            <mat-icon>school</mat-icon>
          </button>
          <p class="meraki-font-s5">Academia</p>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
      <div class="row around-xs middle-xs" style="padding:20px;">
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Robots']">
            <mat-icon>usb</mat-icon>
          </button>
          <p class="meraki-font-s5">Robots</p>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Scrum']">
            <mat-icon>poll</mat-icon>
          </button>
          <p class="meraki-font-s5">SCRUM</p>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Web']">
            <mat-icon>public</mat-icon>
          </button>
          <p class="meraki-font-s5">Página Web</p>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Contabilidad']">
            <mat-icon>attach_money</mat-icon>
          </button>
          <p class="meraki-font-s5">Contabilidad</p>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
      <p></p>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
      <div class="row around-xs middle-xs" style="padding:20px;">
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" (click)="createPage()" routerLink="/ms-text">
            <mat-icon>message</mat-icon>
          </button>
          <p class="meraki-font-s5">SMS</p>
        </div>
        <div class="w3-center" style="width:100px">
          <button mat-fab class="w3-orange w3-hover-brown" [disabled]="!perms[0]['Servicios']">
            <mat-icon>build</mat-icon>
          </button>
          <p class="meraki-font-s5">Servicios</p>
        </div>
        <div class="w3-center" style="width:100px" *ngIf="false">
          <button mat-fab class="w3-orange w3-hover-brown" routerLink="/pedidos">
            <mat-icon>restaurant</mat-icon>
          </button>
          <p class="meraki-font-s5">Pedidos</p>
        </div>
      </div>
    </div>

  </div>