<div class="w3-row w3-animate-left">
  <div class="w3-container w3-border-bottom">
    <span class="meraki-spacer"></span>
    <h3 class="meraki-font-s5 w3-right">Stock</h3>
  </div>
  <br>
  <div class="w3-row">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
      <div class="w3-container w3-white w3-card-4">
        <br>
        <div class="w3-row-padding">
          <div class="w3-col s12 m4 l4">
            <h3 class="meraki-font-s5">Almacenes</h3>
            <mat-form-field class="meraki-fill">
              <mat-select #almOrigen formControlName="Almacen" aria-placeholder="Almacen" placeholder="Almacen" (selectionChange)="filtrarProductos(almOrigen.value)">
                <mat-option class="w3-indigo w3-hover-gray" *ngFor="let almacen of almacenes" [value]="almacen.Nombre">{{ almacen.Nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="!stockForm.valid">
                Almacen
                <strong>requerido</strong> *
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="meraki-fill">
              <mat-select #filtro (selectionChange)="filtrarStock(filtro.value)" [disabled]="consultaProducto" aria-placeholder="Filtro"
                placeholder="Filtrar resultado">
                <mat-option class="w3-indigo w3-hover-gray" value="TODOS">TODOS</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value="OK">OK</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value="ALERTA">ALERTA</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value="EMERGENCIA">EMERGENCIA</mat-option>
              </mat-select>
              <mat-error *ngIf="!stockForm.valid">
                Almacen
                <strong>requerido</strong> *
              </mat-error>
            </mat-form-field>
            <br>
            <button style="width: 100%;" mat-raised-button type="submit" color="primary" [disabled]="!stockForm.valid">Generar consulta</button>
            <br>
          </div>
          <div class="w3-col s12 m4 l4">
            <h3 class="meraki-font-s5">Productos</h3>
            <div style="display: flex; align-items: center">
              <mat-slide-toggle style="margin-right: 5px;" [checked]="checked" matTooltip="Cambia entre nombre y codigo" matTooltipPosition="above"
                labelPosition='before' (change)="slideToogleChange($event)"></mat-slide-toggle>
              <mat-form-field style="width: 80%">
                <input matInput (keyup.enter)="selectProduct()" (keyup)="pushKeyProducts()" [matAutocomplete]="auto" #prod formControlName="ProductoFiltro"
                  [placeholder]="optionDisplay == 1 ? 'Producto' : 'Codigo'" [value]="productName == null ? '' : productName">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option (click)="selectProduct()" class="w3-indigo w3-hover-gray" *ngFor="let option of filteredOptions" [value]="optionDisplay == 1 ? option.Nombre : option.Codigo">
                    <span style="font-size: 13px;">{{ option.Codigo }}</span> |
                    <span style="font-size: 13px;">{{ option.Nombre }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <mat-form-field class="meraki-fill">
              <input matInput (keyup)="selectedSerie()" (keyup)="pushKeySeries()" [matAutocomplete]="auto2" #prod2 [formControl]="seriesSelected"
                placeholder="Numeros de serie">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option (click)="selectedSerie()" class="w3-indigo w3-hover-gray" *ngFor="let serie of seriesAutocomplete" [value]="serie.numSerie">
                  <span style="font-size: 13px;">Numero de serie : {{serie.numSerie}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <button style="width: 100%;" mat-raised-button type="button" color="primary" [disabled]="!searchProduct" (click)="getProductoSerie()">Buscar Producto</button>
            <br>
          </div>
          <div class="w3-col s12 m4 l4">
            <h3 class="meraki-font-s5">Exportar</h3>
            <mat-form-field class="meraki-fill">
              <mat-select #sepcel (selectionChange)="configExportSep(sepcel.value)" [(value)]="separador" aria-placeholder="Filtro" placeholder="Separador celdas">
                <mat-option class="w3-indigo w3-hover-gray" value=",">( , ) Coma</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value=";">( ; ) Punto y coma</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value="\t">( t ) Tabulador</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="meraki-fill">
              <mat-select #sepdec (selectionChange)="configExportDec(sepdec.value)" [(value)]="separadorDecimal" aria-placeholder="Filtro"
                placeholder="Separador decimal">
                <mat-option class="w3-indigo w3-hover-gray" value=",">( , ) Coma</mat-option>
                <mat-option class="w3-indigo w3-hover-gray" value=".">( . ) Punto</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <button style="width: 100%;" mat-raised-button type="button" color="primary" (click)="exportData()" [disabled]="!queryDone">Generar Reporte</button>
            <br>
          </div>
        </div>
        <br>
      </div>
    </form>
  </div>
  <br>
  <div *ngIf="consulta || consultaProducto">
    <h2>Busqueda por
      <span *ngIf="consulta">almacen</span>
      <span *ngIf="consultaProducto">producto</span>
    </h2>
    <mat-form-field color="accent" style="width:100%; font-size: 17px">
      <input matInput (keyup)="filterData()" #prod [formControl]="productoFilter" placeholder="Filtro" [value]="prodEscogido === '' ? '' : prodEscogido"
        autocomplete="off">
    </mat-form-field>
  </div>
  <br>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!consulta && !consultaProducto" class="w3-container w3-padding-large meraki-empty-bg w3-card-2">
    <h2 class="w3-margin w3-center meraki-font-s2">{{ mensajeKardex }}</h2>
  </div>
  <div *ngIf="consulta" class="w3-responsive w3-card-4" style="max-height:80vh">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th class="w3-center">N°</th>
          <th class="w3-center">Producto</th>
          <th class="w3-center">Unidad </th>
          <th class="w3-center">Stock</th>
          <th class="w3-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredProducts; let i = index">
          <td class="w3-center">{{ i + 1 }}</td>
          <td class="w3-center">{{ item.Nombre }}</td>
          <td class="w3-center">{{ item.Unidad }}</td>
          <td class="w3-center">{{ item.Stock_actual | number:'.2-2' }}</td>
          <!--td style="text-align:center">
              <mat-icon *ngIf="item.Stock_actual > item.Stocka" class="w3-text-green">check_circle</mat-icon>
              <mat-icon *ngIf="item.Stock_actual > item.Stocke && item.Stock_actual <= item.Stocka" class="w3-text-amber">warning_octagram</mat-icon>
              <mat-icon *ngIf="item.Stock_actual <= item.Stocke" class="w3-text-red">new_releases</mat-icon>
          </td-->
          <td style="text-align:center">
            <mat-icon *ngIf="item.Estado === 'OK'" class="w3-text-green">check_circle</mat-icon>
            <mat-icon *ngIf="item.Estado === 'ALERTA'" class="w3-text-amber">warning</mat-icon>
            <mat-icon *ngIf="item.Estado === 'EMERGENCIA'" class="w3-text-red">error</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="consultaProducto" class="w3-responsive w3-card-4" style="max-height:80vh">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th class="w3-center">N°</th>
          <th class="w3-center">Almacen</th>
          <th class="w3-center">Documento </th>
          <th class="w3-center">Estado</th>
          <th class="w3-center">Fecha</th>
          <th class="w3-center">Movimiento</th>
          <th class="w3-center">N° Serie</th>
          <th class="w3-center">Operacion</th>
          <th class="w3-center">Usuario</th>
          <th class="w3-center">Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pruduct of filteredSeries; let i = index">
          <td style="text-align:center">{{ i + 1 }}</td>
          <td style="text-align:center">{{ pruduct.almacen }}</td>
          <td style="text-align:center">{{ pruduct.documento }}</td>
          <td style="text-align:center">{{ pruduct.estado}}</td>
          <td style="text-align:center">{{ pruduct.fecha }}</td>
          <td style="text-align:center">{{ pruduct.movimiento }}</td>
          <td style="text-align:center">{{ pruduct.numSerie }}</td>
          <td style="text-align:center">{{ pruduct.operacion }}</td>
          <td style="text-align:center">{{ pruduct.usuario }}</td>
          <td style="text-align:center">{{ pruduct.tercero }}</td>
          <td style="text-align:right">{{ pruduct.Stock_actual | number:'.2-2' }}</td>
          <!--<td style="text-align:center">
              <mat-icon *ngIf="item.Estado === 'OK'" class="w3-text-green">check_circle</mat-icon>
              <mat-icon *ngIf="item.Estado === 'ALERTA'" class="w3-text-amber">warning</mat-icon>
              <mat-icon *ngIf="item.Estado === 'EMERGENCIA'" class="w3-text-red">error</mat-icon>
            </td>-->
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>