<div class="w3-row">
    <div class="w3-row w3-border-bottom w3-border-black w3-animate-top">
        <h3 mat-button class="meraki-font-s5">Crear nuevo almacen</h3>
    </div>
    <br>
    <form [formGroup]="crearAlmacenForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="w3-white w3-card-4 w3-padding">
            <h4>Almacen</h4>
            <mat-form-field color="accent" style="width:100%">
                <input #abrev matInput type="text" formControlName="abrev" (input)="checkByAbrev(abrev.value)" placeholder="Abreviatura">
                <mat-error *ngIf="!crearAlmacenForm.valid">
                    Abreviatura
                    <strong>requerida</strong>.
                </mat-error>
                <mat-hint *ngIf="abrevExist">
                    La abreviatura ya existe.
                </mat-hint>
            </mat-form-field>
            <mat-form-field color="accent" style="width:100%">
                <input #nombre matInput type="text" formControlName="nombre" (input)="checkByNombre(nombre.value)" placeholder="Nombre">
                <mat-error *ngIf="!crearAlmacenForm.valid">
                    Nombre
                    <strong>requerido</strong>.
                </mat-error>
                <mat-hint *ngIf="nombreExist">
                    El nombre ya existe.
                </mat-hint>
            </mat-form-field>
            <mat-form-field color="accent" style="width:100%">
                <input matInput type="text" formControlName="dir" placeholder="Dirección">
                <mat-error *ngIf="!crearAlmacenForm.valid">
                    Dirección
                    <strong>requerida</strong>.
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="w3-white w3-card-4 w3-padding">
            <h4>Supervisor</h4>
            <mat-form-field color="accent" style="width:100%">
                <input matInput type="text" formControlName="supervisor" placeholder="Nombre">
                <mat-error *ngIf="!crearAlmacenForm.valid">
                    Supervisor
                    <strong>requerido</strong>.
                </mat-error>
            </mat-form-field>
            <mat-form-field color="accent" style="width:100%">
                <input matInput type="text" formControlName="mail" placeholder="Mail">
                <mat-hint>
                    Se recomienda agregar un correo electrónico.
                </mat-hint>
            </mat-form-field>
            <mat-form-field color="accent" style="width:100%">
                <input matInput type="text" formControlName="telefono" placeholder="Teléfono">
                <mat-hint>
                    Se recomienda agregar un número telefónico.
                </mat-hint>
            </mat-form-field>
        </div>
        <br>
        <button mat-raised-button type="button" color="warn" routerLink="../../almacenes">CANCELAR</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!crearAlmacenForm.valid">CREAR</button>
    </form>