<div>
  <h1 mat-dialog-title>Confirmar eliminación del producto {{data.producto}}</h1>
  <hr>
  <mat-dialog-content>
    <h2>¿Está seguro(a) de eliminar el producto {{data.producto}} ubicado en {{data.zona}}?</h2>
  </mat-dialog-content>
  <div mat-dialog-actions align="center">
    <button style="margin-bottom: 15px;" mat-raised-button color="primary" (click)="onSubmit()">CONFIRMAR</button>
    <button style="margin-bottom: 15px;" mat-raised-button color="warn" (click)="onNoClick()">CANCELAR</button>
  </div>
</div>