<div class="w3-row w3-animate-left">
  <div class="w3-row w3-border-bottom">
    <span class="meraki-spacer"></span>
    <h3 class="meraki-font-s5 w3-right">Almacenes</h3>
  </div>
  <br>
  <div class="w3-row">
    <button mat-raised-button *ngIf="perms[0]['alm_b_crear']" color="primary" routerLink="crear-almacen" style="display:inline-block">Crear nuevo</button>
    <mat-form-field floatPlaceholder="never" style="margin-left:10px">
      <input matInput type="text" (input)="filterData($event.target.value)" placeholder="filtrar contenido" autocomplete="off">
      <mat-hint>
        Escribe una palabra
      </mat-hint>
    </mat-form-field>

  </div>
  <router-outlet></router-outlet>
  <br>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="w3-responsive w3-card-4 meraki-wrapper" style="max-height:50vh">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>N°</th>
          <th>Abrev</th>
          <th>Nombre</th>
          <th *ngIf="perms[0]['alm_t_direccion']">Dirección</th>
          <th *ngIf="perms[0]['alm_t_supervisor']">Supervisor</th>
          <th *ngIf="perms[0]['alm_t_mail']">Mail</th>
          <th *ngIf="perms[0]['alm_t_telefono']">Teléfono</th>
          <th *ngIf="perms[0]['alm_b_editar']" class="w3-center">Editar</th>
        </tr>
      </thead>
      <tbody class="meraki-font-s5">
        <tr *ngFor="let row of almacenesFiltrados; let i = index">
          <td *ngIf="!edit[i]['value']">{{i + 1}}</td>
          <td *ngIf="!edit[i]['value']">{{row.Abrev}}</td>
          <td *ngIf="!edit[i]['value']">{{row.Nombre}}</td>
          <td *ngIf="!edit[i]['value'] && perms[0]['alm_t_direccion']">{{row.Dir}}</td>
          <td *ngIf="!edit[i]['value'] && perms[0]['alm_t_supervisor']">{{row.Supervisor}}</td>
          <td *ngIf="!edit[i]['value'] && perms[0]['alm_t_mail']">{{row.Mail}}</td>
          <td *ngIf="!edit[i]['value'] && perms[0]['alm_t_telefono']">{{row.Telefono}}</td>
          <td *ngIf="!edit[i]['value'] && perms[0]['alm_b_editar']" class="w3-center" style="text-align: center">
            <button mat-mini-fab *ngIf="perms[0]['alm_b_editar']" color="accent" class="w3-animate-zoom" (click)="editAction(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td *ngIf="edit[i]['value']">{{i + 1}}</td>
          <td *ngIf="edit[i]['value']">
            <input class="w3-input" type="text" (input)="modData['Abrev'] = $event.target.value" [value]="row.Abrev" [placeholder]="row.Abrev">
          </td>
          <td *ngIf="edit[i]['value']">
            <input class="w3-input" type="text" (input)="modData['Nombre'] = $event.target.value" [value]="row.Nombre" [placeholder]="row.Nombre">
          </td>
          <td *ngIf="edit[i]['value'] && perms[0]['alm_t_direccion']">
            <input class="w3-input" type="text" (input)="modData['Dir'] = $event.target.value" [value]="row.Dir" [placeholder]="row.Dir">
          </td>
          <td *ngIf="edit[i]['value'] && perms[0]['alm_t_supervisor']">
            <input class="w3-input" type="text" (input)="modData['Supervisor'] = $event.target.value" [value]="row.Supervisor" [placeholder]="row.Supervisor">
          </td>
          <td *ngIf="edit[i]['value'] && perms[0]['alm_t_mail']">
            <input class="w3-input" type="text" (input)="modData['Mail'] = $event.target.value" [value]="row.Mail" [placeholder]="row.Mail">
          </td>
          <td *ngIf="edit[i]['value'] && perms[0]['alm_t_telefono']">
            <input class="w3-input" type="text" (input)="modData['Telefono'] = $event.target.value" [value]="row.Telefono" [placeholder]="row.Telefono">
          </td>
          <td *ngIf="edit[i]['value']" class="w3-center w3-padding-small" style="text-align: center">
            <button mat-mini-fab color="primary" *ngIf="perms[0]['alm_b_guardar']" class="w3-animate-zoom" style="margin:1px"
              (click)="saveAction(i)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="perms[0]['alm_b_borrar']" class="w3-animate-zoom" style="margin:1px" (click)="borrarAction('zonas_sucursales',row.ID)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="accent" class="w3-animate-zoom" style="margin:1px" (click)="cancelAction(i)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div *ngIf="loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
    <h2 class="w3-margin w3-center meraki-font-s2">
      <mat-icon class="w3-margin" style="font-size: 36px">location_on</mat-icon>Cargando ...</h2>
  </div>
  <div *ngIf="data_.length == 0 && !loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
    <h2 class="w3-margin w3-center meraki-font-s2">
      <mat-icon class="w3-margin" style="font-size: 36px">location_on</mat-icon>No hay almacenes en la tabla</h2>
  </div>
  <br>
  <div style="height:25vh">
    <p></p>
  </div>
</div>
<!--div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>

<pre>
  {{crearAlmacen | json}}
</pre-->