<button mat-raised-button color="primary" class="marginButton widthButton" (click)="generarORP()">
  Generar
  <span class="underline">OR-P</span>
</button>
<button mat-raised-button color="primary" class="widthButton" (click)="generarOPP()">
  Generar
  <span class="underline">OP-P</span>
</button>
<div class="titleContainer">
  <span class="titles">
    Lista de OR-Ps
  </span>
  <span class="titles">
    Lista de OP-Ps
  </span>
</div>
<hr>
<div class="layout">
  <span class="cards">
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verORP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verORP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verORP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="cards">
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verOPP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verOPP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <div class="cardCorner"></div>
      <mat-card-content class="containerCard">
        <span class="infoCard">
          <p class="codigo">OR-C 4567</p>
          <p class="info">Solicito : Patricio</p>
          <p class="info">Producto : Muebele</p>
          <p class="info">Cantidad : 6</p>
          <p class="info">Almacen : ALM1</p>
          <p class="info">Fecha : 15/6/18</p>
        </span>
        <span class="statusCard">
          <p class="status">ESTADO : En produccion</p>
          <div style="text-align: center">
            <button mat-raised-button color="primary" class="buttonAbrir" (click)="verORP()">Abrir</button>
          </div>
        </span>
        <span class="processCard">
          <span>Procesos</span>
          <span>3/5</span>
        </span>
      </mat-card-content>
    </mat-card>
  </span>
</div>