<div class="w3-row w3-animate-left">
  <div class="w3-row w3-border-bottom">
    <span class="meraki-spacer"></span>
    <h3 class="meraki-font-s5 w3-right">Productos</h3>
  </div>
  <br>
  <div class="w3-row">
    <button mat-raised-button class="marginButton" *ngIf="perms[0]['pro_b_crearPaquete']" color="primary" routerLink="crear-paquete">Crear nuevo - Paquete</button>
    <button mat-raised-button class="marginButton" *ngIf="perms[0]['pro_b_crearProducto']" color="primary" routerLink="crear-producto">Crear nuevo - Producto</button>
    <button mat-raised-button class="marginButton" color="primary" (click)="openGenSerieModal()">Generar numeros de serie</button>
  </div>
  <router-outlet></router-outlet>
  <br>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)" class="labelEdit">
    <mat-tab label="Paquetes" *ngIf="perms[0]['pro_p_paquetes']">
      <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let pack of pack_nombre" class="w3-border">
          <mat-expansion-panel-header>
            <mat-panel-title>
              
              <!--Actualizar permisos de inversion, venta y utilidad !!! URGENTE-->
              <div style="display:flex;justify-content: flex-end">
                <h5 style="padding: 0 0.5em 0 0.5em" [ngClass]="pack[4] === '1'? 'w3-indigo w3-round':'w3-red w3-round'">{{ pack[0] }}</h5>
                <p style="padding:0 0.5em 0 0.5em"><strong>Inversión: </strong>{{ pack[1] }}</p>
                <p style="padding:0 0.5em 0 0.5em"><strong>P. Venta: </strong>{{ pack[2] }}</p>
                <p style="padding:0 0.5em 0 0.5em"><strong>Utilidad: </strong>{{ pack[3] }}</p>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <!--ESPACIO LIBRE-->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>Item</th>
                  <th *ngIf="perms[0]['pro_d_cantidad']" class="w3-center">Cantidad</th>
                  <th *ngIf="perms[0]['pro_d_precio']" class="w3-center">P. Unitario</th>
                  <!--th *ngIf="perms[0]['pro_b_editarPaquete']" class="w3-center">Editar</th-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of paquetes; let i = index">
                  <td *ngIf="item.Paquete === pack[0] && !editPack[i]['value']">{{ item.Nombre }}</td>
                  <td *ngIf="item.Paquete === pack[0] && !editPack[i]['value'] && perms[0]['pro_d_cantidad']" style="text-align:center">{{ item.Cantidad }}</td>
                  <td *ngIf="item.Paquete === pack[0] && !editPack[i]['value'] && perms[0]['pro_d_precio']" style="text-align:center">{{ item.PrecioUnitario }}</td>
                  <!--td *ngIf="item.Paquete === pack[0] && !editPack[i]['value'] && perms[0]['pro_b_editarPaquete']" style="text-align:center">
                    <button mat-mini-fab color="accent" *ngIf="perms[0]['pro_b_editarPaquete']" class="w3-animate-zoom" style="margin:1px" (click)="editarPaq(i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td-->
                  <!--EDIT MODE-->

                  <td *ngIf="item.Paquete === pack[0] && editPack[i]['value']">
                    <input class="w3-input" type="text" (input)="modData_paquete['Nombre'] = $event.target.value" [value]="item.Nombre" [placeholder]="item.Nombre"
                      style="width:90%" disabled>
                  </td>
                  <td *ngIf="item.Paquete === pack[0] && editPack[i]['value'] && perms[0]['pro_d_cantidad']">
                    <input class="w3-input" type="number" (input)="modData_paquete['Cantidad'] = $event.target.value" [value]="item.Cantidad"
                      [placeholder]="item.Cantidad" style="width:90%">
                  </td>
                  <td *ngIf="item.Paquete === pack[0] && editPack[i]['value'] && perms[0]['pro_d_precio']">
                    <input class="w3-input" type="number" (input)="modData_paquete['PrecioUnitario'] = $event.target.value" [value]="item.PrecioUnitario"
                      [placeholder]="item.PrecioUnitario" style="width:90%">
                  </td>
                  <td *ngIf="item.Paquete === pack[0] && editPack[i]['value'] && perms[0]['pro_b_editarPaquete']" class="w3-padding-small" style="text-align: center">
                    <button mat-mini-fab color="primary" *ngIf="perms[0]['pro_b_guardarPaquete']" class="w3-animate-zoom" style="margin:1px"
                      (click)="savePack(i)">
                      <mat-icon>save</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" class="w3-animate-zoom" style="margin:1px" (click)="cancelPack(i)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-action-row>
            <!--Actualizar permisos de publicar y suspender !!! URGENTE-->
            <button mat-raised-button color="primary" (click)="openPublicarModal(pack)" *ngIf="perms[0]['pro_b_borrarPaquete']" style="margin:0 0.2em 0 0.2em" [disabled]="pack[4] === '1'?'true':'false'">Publicar</button>
            <button mat-raised-button color="warn" (click)="suspenderPaq(pack)" *ngIf="perms[0]['pro_b_borrarPaquete']" style="margin:0 0.2em 0 0.2em" [disabled]="pack[4] === '0'?'true':'false'">Suspender</button>
            <button mat-raised-button color="warn" (click)="borrarPaq(pack)" *ngIf="perms[0]['pro_b_borrarPaquete']" style="margin:0 0.2em 0 0.2em">Borrar</button>
            
          </mat-action-row>
        </mat-expansion-panel>

      </mat-accordion>
      <div *ngIf="loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
        <h2 class="w3-margin w3-center meraki-font-s2">
          <mat-icon class="w3-margin" style="font-size: 36px">style</mat-icon>Cargando ...</h2>
      </div>
      <div *ngIf="paquetes.length == 0 && !loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
        <h2 class="w3-margin w3-center meraki-font-s2">
          <mat-icon class="w3-margin" style="font-size: 36px">style</mat-icon>No hay paquetes en la tabla</h2>
      </div>
    </mat-tab>

    <mat-tab label="Productos" *ngIf="perms[0]['pro_p_productos']">
      <div *ngIf="data_.length != 0" class="w3-responsive" style="max-height:85vh">
        <mat-form-field color="accent" style="width:100%" *ngIf="selectedIndex == 1">
          <input matInput (keyup)="filterData()" #prod [formControl]="productoFilter" placeholder="Producto" [value]="prodEscogido === '' ? '' : prodEscogido"
            autocomplete="off">
        </mat-form-field>
        <table class="w3-table-all">
          <thead>
            <tr>
              <th [attr.rowspan]="rows" class="w3-center w3-border">N°</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">Grupo</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">Almacen</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">Código</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">Nombre</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">U.Medida</th>
              <th [attr.colspan]="cols_stock" *ngIf="cols_stock" class="w3-center w3-border">Stock</th>
              <th [attr.rowspan]="rows" *ngIf="perms[0]['pro_t_moneda']" class="w3-center w3-border">Moneda</th>
              <th [attr.colspan]="cols_precio" *ngIf="cols_precio" class="w3-center w3-border">Precio</th>
              <th [attr.rowspan]="rows" *ngIf="perms[0]['pro_b_editarProducto']" class="w3-center w3-border">N° de serie</th>
              <th [attr.rowspan]="rows" class="w3-center w3-border">Imagen</th>
              <th [attr.rowspan]="rows" *ngIf="perms[0]['pro_b_editarProducto']" class="w3-center w3-border">Editar</th>
            </tr>
            <tr>
              <th *ngIf="perms[0]['pro_t_stockInicial']" class="w3-center w3-border">Inicial</th>
              <th *ngIf="perms[0]['pro_t_stockActual']" class="w3-center w3-border">Actual</th>
              <th *ngIf="perms[0]['pro_t_stockEmergencia']" class="w3-center w3-border">Emergencia</th>
              <th *ngIf="perms[0]['pro_t_stockAlerta']" class="w3-center w3-border">Alerta</th>
              <th *ngIf="perms[0]['pro_t_precioCompra']" class="w3-center w3-border">Compra</th>
              <th *ngIf="perms[0]['pro_t_precioVenta']" class="w3-center w3-border">Venta</th>
            </tr>
          </thead>
          <tbody class="meraki-font-s5">
            <tr *ngFor="let row of productosFiltrados ; let i = index">
              <td *ngIf="!edit[i]['value']">{{i + 1}}</td>
              <td *ngIf="!edit[i]['value']">{{row.Grupo}}</td>
              <td *ngIf="!edit[i]['value']">{{row.Zona}}</td>
              <td *ngIf="!edit[i]['value']">{{row.Codigo}}</td>
              <td *ngIf="!edit[i]['value']">{{row.Nombre}}</td>
              <td *ngIf="!edit[i]['value']">{{row.Unidad}}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_stockInicial']" class="w3-right-align w3-border-left">{{ row.Stock_inicial | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_stockActual']" class="w3-right-align w3-border-left">{{ row.Stock_actual | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_stockEmergencia']" class="w3-right-align w3-border-left">{{ row.Stocke | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_stockAlerta']" class="w3-right-align w3-border-left w3-border-right">{{ row.Stocka | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_moneda']" class="w3-center">{{row.Moneda}}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_precioCompra']" class="w3-right-align w3-border-left">{{ row.Compra | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_t_precioVenta']" class="w3-right-align w3-border-left w3-border-right">{{ row.Venta | number: '.2-2' }}</td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_b_editarProducto']" style="text-align: center">
                <button mat-mini-fab color="accent" *ngIf="perms[0]['pro_b_editarProducto']" class="w3-animate-zoom" style="margin:1px" (click)="openSerieModal(i,false)">
                  <mat-icon>open_in_browser</mat-icon>
                </button>
              </td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_b_editarProducto']" class="w3-right-align w3-border-left w3-border-right">
                <span class="imgWrap" (click)="openImageModal(i)">
                  <img *ngIf="row.Imagen != ''" defaultImage='./assets/spinner.gif' lazyLoad="http://www.meraki-s.com/rent/ms-synergy/{{bdParsed}}/img/{{row.Imagen}}"
                    alt="Imagen del producto">
                  <img *ngIf="row.Imagen == '' || row.Imagen == null" defaultImage='./assets/spinner.gif' lazyLoad="./assets/nopic.png" alt="Sin imagen">
                </span>
              </td>
              <td *ngIf="!edit[i]['value'] && perms[0]['pro_b_editarProducto']" style="text-align: center">
                <button mat-mini-fab color="accent" *ngIf="perms[0]['pro_b_editarProducto']" class="w3-animate-zoom" style="margin:1px" (click)="editAction(i)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              <td *ngIf="edit[i]['value']">{{i + 1}}</td>
              <td *ngIf="edit[i]['value']">
                <mat-form-field color="accent" style="width:100%">
                  <mat-select [(ngModel)]="modData['Grupo']">
                    <mat-option class="w3-indigo w3-hover-gray" *ngFor="let grupo of grupos" [value]="grupo.Nombre">{{ grupo.Nombre }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td *ngIf="edit[i]['value']">
                <mat-form-field color="accent" class="meraki-fill">
                  <mat-select #almOrigen [(ngModel)]="modData['Zona']">
                    <mat-option class="w3-indigo w3-hover-gray" *ngFor="let almacen of almacenes" [value]="almacen.Nombre">{{ almacen.Nombre }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td *ngIf="edit[i]['value']">
                <input class="w3-input" type="text" (input)="modData['Codigo'] = $event.target.value" [value]="row.Codigo" [placeholder]="row.Codigo">
              </td>
              <td *ngIf="edit[i]['value']">
                <input class="w3-input" type="text" (input)="modData['Nombre'] = $event.target.value" [value]="row.Nombre" [placeholder]="row.Nombre">
              </td>
              <td *ngIf="edit[i]['value']">
                <input class="w3-input" type="text" (input)="modData['Unidad'] = $event.target.value" [value]="row.Unidad" [placeholder]="row.Unidad">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_stockInicial']">
                <input class="w3-input" type="text" (input)="modData['Stock_inicial'] = $event.target.value" [value]="row.Stock_inicial"
                  [placeholder]="row.Stock_inicial" disabled>
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_stockActual']">
                <input class="w3-input" type="text" (input)="modData['Stock_actual'] = $event.target.value" [value]="row.Stock_actual" [placeholder]="row.Stock_actual">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_stockEmergencia']">
                <input class="w3-input" type="text" (input)="modData['Stocke'] = $event.target.value" [value]="row.Stocke" [placeholder]="row.Stocke">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_stockAlerta']">
                <input class="w3-input" type="text" (input)="modData['Stocka'] = $event.target.value" [value]="row.Stocka" [placeholder]="row.Stocka"
                  disabled>
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_moneda']">
                <input class="w3-input" type="text" (input)="modData['Moneda'] = $event.target.value" [value]="row.Moneda" [placeholder]="row.Moneda">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_precioCompra']">
                <input class="w3-input" type="text" (input)="modData['Compra'] = $event.target.value" [value]="row.Compra" [placeholder]="row.Compra">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_precioVenta']">
                <input class="w3-input" type="text" (input)="modData['Venta'] = $event.target.value" [value]="row.Venta" [placeholder]="row.Venta">
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_b_editarProducto']" style="text-align: center">
                <button mat-mini-fab color="accent" *ngIf="perms[0]['pro_b_editarProducto']" class="w3-animate-zoom" style="margin:1px" (click)="openSerieModal(i,true)">
                  <mat-icon>open_in_browser</mat-icon>
                </button>
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_t_precioVenta']">
                <span class="imgWrap" (click)="openImageModal(i)">
                  <!-- <div style="position: relative;">
                    <div class="reload">
                      <span>RELOAD</span>
                    </div>
                  </div> -->
                  <img *ngIf="row.Imagen != ''" defaultImage='./assets/spinner.gif' lazyLoad="http://www.meraki-s.com/rent/ms-synergy/{{bdParsed}}/img/{{row.Imagen}}"
                    alt="Imagen del producto">
                  <img *ngIf="row.Imagen == ''" defaultImage='./assets/spinner.gif' lazyLoad="./assets/nopic.png" alt="Sin imagen">
                </span>
              </td>
              <td *ngIf="edit[i]['value'] && perms[0]['pro_b_editarProducto']" class="w3-padding-small" style="text-align: center">
                <button mat-mini-fab color="primary" *ngIf="perms[0]['pro_b_guardarProducto']" class="w3-animate-zoom" style="margin:1px"
                  (click)="saveAction(i)">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-mini-fab color="warn" *ngIf="perms[0]['pro_b_borrarProducto']" class="w3-animate-zoom" style="margin:1px" (click)="borrarAction('productos',row.ID, row.Nombre, row.Zona)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="accent" class="w3-animate-zoom" style="margin:1px" (click)="cancelAction(i)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
        <h2 class="w3-margin w3-center meraki-font-s2">
          <mat-icon class="w3-margin" style="font-size: 36px">style</mat-icon>Cargando ...</h2>
      </div>
      <div *ngIf="data_.length == 0 && !loading" class="w3-container w3-padding-large meraki-empty-bg" style="width:100%">
        <h2 class="w3-margin w3-center meraki-font-s2">
          <mat-icon class="w3-margin" style="font-size: 36px">style</mat-icon>No hay productos en la tabla</h2>
      </div>


    </mat-tab>
  </mat-tab-group>
  <br>
</div>